# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment variables
.env

# macOS files
.DS_Store

# Logs
logs
*.log
logs/*
pids
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage/
.nyc_output/

#
